.leaderboard {
  width: 97%;
  height: 90%;
  margin: 10px 0;
  background: url('../assets/your-background-image.png') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure children don't overflow */
}

.leaderboard-header {
  font-size: 0.8em;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1b1b1b, #363634, #33312b8e);
  color: #FFD700;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 5px 0;
  text-align: center;
  z-index: 10;
  flex-shrink: 0; /* Prevent shrinking */
}

.leaderboard-list {
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 5px;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaderboard li {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  height: calc((90vh - 415px) / 10); /* 90vh for leaderboard height, adjust 415px to account for header and margins */
}

.rank-1 {
  background: radial-gradient(circle, #faeb96 60%, #FFCC00 100%);
}

.rank-2 {
  background: radial-gradient(circle, #e0e0e0 60%, #A8A8A8 100%);
}

.rank-3 {
  background: radial-gradient(circle, #ffc082 60%, #B87333 100%);
}

.default-rank {
  background: radial-gradient(circle, #888888 60%, #252222 100%);
}

.leaderboard li.rank-1,
.leaderboard li.rank-2,
.leaderboard li.rank-3 {
  color: black;
  font-weight: bold;
}

.leaderboard li .rank,
.leaderboard li .username,
.leaderboard li .score {
  padding: 10px;
}

.leaderboard li .rank {
  width: 10%;
  text-align: center;
  font-weight: bold;
}

.leaderboard li .username {
  width: 50%;
  text-align: left;
}

.leaderboard li .score {
  width: 40%;
  text-align: right;
  font-family: 'Courier New', monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.score-entry {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive styles */
@media (max-width: 840px) {
  .leaderboard-header {
    font-size: 0.7em; /* Adjust header font size for smaller screens */
  }

  .leaderboard li {
    font-size: 1rem;
    padding: 2.7px 16px;
    height: calc((90vh - 370px) / 10); /* Adjust height for screens with width less than 840px */
  }
}

@media (max-width: 768px) {
  .leaderboard-header {
    font-size: 0.7em; /* Adjust header font size for tablets */
  }

  .leaderboard li {
    font-size: 1rem;
    padding: 2.8px 16px;
    height: calc((90vh - 370px) / 10); /* Adjust height for tablets */
  }
}

@media (max-width: 480px) {
  .leaderboard-header {
    font-size: 0.6em; /* Adjust header font size for mobile */
  }

  .leaderboard li {
    font-size: 0.9rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for mobile */
  }
}

@media (max-width: 138px) {
  .leaderboard-header {
    font-size: 0.4em; /* Adjust header font size for mobile */
  }

  .leaderboard li {
    font-size: 0.9rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for mobile */
  }
}

@media (max-height: 800px) {
  .leaderboard-header {
    font-size: 0.4em; /* Adjust header font size for smaller height */
  }

  .leaderboard li {
    font-size: 0.9rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for smaller height */
  }
}

@media (max-height: 750px) {
  .leaderboard-header {
    font-size: 0.4em; /* Adjust header font size for smaller height */
  }

  .leaderboard li {
    font-size: 0.9rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for smaller height */
  }
}


@media (max-height: 520px) {
  .leaderboard-header {
    font-size: 0.2em; /* Adjust header font size for smaller height */
  }

  .leaderboard li {
    font-size: 0.9rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for smaller height */
  }
}

@media (max-height: 450px) {
  .leaderboard-header {
    font-size: 0.1em; /* Adjust header font size for smaller height */
  }

  .leaderboard li {
    font-size: 0.6rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for smaller height */
  }
}

@media (max-height: 415px) {
  .leaderboard-header {
    font-size: 0.01em; /* Adjust header font size for smaller height */
  }

  .leaderboard li {
    font-size: 0.4rem;
    padding: 2.7px 12px;
    height: calc((90vh - 370px) / 10); /* Adjust height for smaller height */
  }
}